<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<form action="#" data-th-action="@{/components/create}" data-th-object="${component}" method="post">
    <p>
        Name:
        <input type="text" data-th-field="*{name}" />
    </p>
    <p>
        Description:
        <input type="text" data-th-field="*{description}" />
    </p>
    <p>
        Language:
        <select data-th-field="*{language}">
            <option data-th-each="language : ${languages}" data-th-text="${language.name}" data-th-value="${language.getLangId()}"></option>
        </select>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>