<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div class="container" id="component">
    <h1 class="text-center" data-th-text="${component.name}"></h1>
    <h2 class="text-center" data-th-text="${component.language.name}"></h2>

    <iframe class="input-wrapper" src="javascript:' '">
        <html>
            <head></head>
            <body>

            </body>
        </html>
    </iframe>

    <div class="input-wrapper">
        <p data-th-text="${component.description}"></p>
    </div>

    <div class="input-wrapper">
        <label for="editorHTML">HTML:</label>
        <div id="editorHTML" data-th-text="${component.html}"></div>
    </div>

    <div class="input-wrapper">
        <label for="editorCSS">CSS:</label>
        <div id="editorCSS" data-th-text="${component.css}"></div>
    </div>

    <div class="input-wrapper">
        <label for="editorHTML">JavaScript:</label>
        <div id="editorJS" data-th-text="${component.js}"></div>
    </div>

    <div class="input-wrapper">
        <label for="editorCode">Custom Code:</label><br>
        <div id="editorCode" data-th-text="${component.code}"></div>
    </div>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>