<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div class="container" id="component">
    <h1 class="text-center">Create New Component:</h1>

    <form action="#" data-th-action="'/component/edit/' + ${component.id}" data-th-object="${component}" method="post"
          onSubmit="">

        <div class="form-field input-wrapper">
            <div class="form-field-control">
                <label for="name-field" class="form-field-label">Name:</label>
                <input type="text" class="form-field-input" data-th-field="*{name}" id="name-field"/>
            </div>
        </div>

        <div class="form-field input-wrapper">
            <div class="form-field-control">
                <label for="desc-field" class="form-field-label">Description:</label>
                <input type="text" class="form-field-input" data-th-field="*{description}" id="desc-field">
            </div>
        </div>

        <div class="form-field input-wrapper">
            <div class="form-field-control">
                <label for="lang-field">Language:</label><br>
                <select class="custom-select" data-th-field="*{language}" id="lang-field">
                    <option data-th-each="language : ${languages}" data-th-text="${language.name}"
                            data-th-value="${language.getLangId()}"></option>
                </select>
            </div>
        </div>

        <div class="input-wrapper">
            <label for="editorHTML">HTML:</label>
            <div id="editorHTML" data-th-text="${component.html}"></div>
        </div>

        <div class="input-wrapper">
            <label for="editorCSS">CSS:</label>
            <div id="editorCSS" data-th-text="${component.css}"></div>
        </div>

        <div class="input-wrapper">
            <label for="editorHTML">JavaScript:</label>
            <div id="editorJS" data-th-text="${component.js}"></div>
        </div>

        <div class="input-wrapper">
            <label for="syntaxLanguage">Custom Syntax:</label><br>
            <select class="custom-select" id="syntaxLanguage">
                <option value="csharp">C#</option>
                <option value="java">Java</option>
                <option value="jsp">JSP</option>
                <option value="jsx">JSX</option>
                <option value="python">Python</option>
            </select>
            <div id="editorCode" data-th-text="${component.code}" data-th-field="*{code}"></div>
        </div>

        <input type="hidden" data-th-field="*{html}" id="html">
        <input type="hidden" data-th-field="*{css}" id="css">
        <input type="hidden" data-th-field="*{js}" id="js">
        <input type="hidden" data-th-field="*{code}" id="code">

        <div class="input-wrapper">
            <input class="btn model-submit" type="submit" value="Submit"/>
        </div>

    </form>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>