<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div>
    <p class="mb-3">
        <a class="btn btn-primary" title="Add Component" href="/component/create"><i class="fas fa-plus"></i> Add
            Component</a>
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="component : ${components}">
                <td>
                    <a title="Edit" class="px-2" data-th-href="'/component/edit/' + ${component.getId()}"><i
                            class="fas fa-edit text-warning"></i></a>
                    <a title="Delete" class="px-2" data-th-href="'/component/delete/' + ${component.getId()}"><i
                            class="fas fa-trash-alt text-danger"></i></a>
                </td>
                <td data-th-text="${component.name}"></td>
                <td data-th-text="${component.description}"></td>
                <td data-th-text="${component.getLanguage().getName()}"></td>
            </tr>
        </tbody>
    </table>


    <ul class="list-group">
        <li class="list-group-item" data-th-each="language : ${languages}">
            <a data-th-href="'/language/edit/' + ${language.getLangId()}" title="Edit"><i
                    class="fas fa-edit text-warning"></i></a>
            <a data-th-href="'/language/delete/' + ${language.getLangId()}" title="Delete"><i
                    class="fas fa-trash-alt text-danger"></i></a>
            <span data-th-text="${language.name}"></span>
        </li>
    </ul>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>