<th:block data-th-fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="collapse show" id="sidebar-collapses">
        <!-- Sidebar -->
        <aside class="h-100 pt-2" id="sidebar">

            <div class="sidebar-components">
                <div id="sidebar-top" class="d-flex">
                    <div id="searchBar" class="flex-grow-4 pl-4">
                        <form action="/component/get" class="form-inline">
                            <input type="text" name="name" placeholder="Search" class="form-control w-100 mr-sm-2 p-2 rounded-0" aria-label="Search">
                        </form>
                    </div>
                    <div class="flex-grow-1">
                        <button class="btn text-right py-1 pl-4 pr-3" id="menuClose">
                            <i class="fas fa-times fa-2x text-white"></i>
                        </button>
                    </div>
                </div>

                <ul class="list-unstyled components">
                    <li class="active" data-th-each="language : ${languages}">
                        <a data-th-href="'#lang' + ${language.getLangId()}" data-th-text="${language.name}" class="dropdown-toggle pl-4"
                           data-toggle="collapse" aria-expanded="false"></a>
                        <ul class="collapse list-unstyled" data-th-id="'lang' + ${language.getLangId()}">
                            <li data-th-each="component : ${language.getComponents()}">
                                <a data-th-href="'/component/' + ${component.id}" data-th-text="${component.name}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <!--End of sidebar-->
    </div>
    <div id="menuToggleWrapper" class="hiddenSideMenu">
        <button class="btn" id="menuOpen">
            <i class="fas fa-angle-right text-white p-1"></i>
        </button>
    </div>
    <main id="pageContent">
</th:block>