@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

#content, main {
    flex: 1 0 auto;
}

#sidebar {
    background: #4e5369;
    color: #fff;
    transition: all 0.3s;
    min-width: 320px;
    max-width: 320px;
    overflow-y: visible;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.7s;
}

#sidebar-collapses {
    transition: all 1s;
    min-width: 320px;
}

.sidebar-components {
    position: sticky;
    top: 1rem;
}

#sidebar .sidebar-header {
    padding: 20px;
}

.text-center {
    margin-top: 0.5em;
}


#hoverNone:hover {
    background: none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.mr-2, .mx-2{
    margin-left: 3.4em;
    /*width: 100%;*/
}
#buttonLength{
    width: 100%;
}

.btn-primary {
    background-color: #6C7ECC;
}

#sidebar ul li a:hover {
    background: #7386D5;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    border-radius: 0;
}

#menuToggleWrapper {
     background: #4e5369;
     padding-top: 42vh;
     padding-right: 5px;
     position: absolute;
     height: 100%;
     width: 55px;
     margin-left: -50px;
     transition: margin-left 2000ms ease;
 }

button#menuToggle {
    padding: 0;
}

button#menuToggle i {
    font-size: 1.5em;
}

button#menuToggle:focus {
    box-shadow: none;
}

#pageContent {
    transition: margin-left 1s;
}

.margin50 {
    margin-left: 50px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    border-radius: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#addButton {
    margin-bottom: 3.5em;
}

.list-button {
    height: 0;
    z-index: 1;
}

.create-form {
    display: flex;
}

.rotate {
    transform: rotate(45deg);
    transition-duration: .25s;
}

i {
    font-size: 1.5rem;
}

.alert {
    padding: .65rem .25rem !important;
}

.container-fluid {
    padding-left: 0;
    margin-left: 0;
    height: 100%;
}

#textArea {
    position: relative;
    width: 100%;
}

.appear {
    margin-left: 0;
}

.form-field {
    display: block;
    margin-bottom: 16px;
    caret-color: #4e5369;
}

.form-field--is-active .form-field-control::after {
    border-bottom: 2px solid #6d7fcc;
    transform: scaleX(150);
}

.form-field--is-active .form-field-label {
    color: #4e5369;
    font-size: 0.75rem;
    transform: translateY(-14px);
}

.form-field--is-filled .form-field-label {
    font-size: 0.75rem;
    transform: translateY(-14px);
}

.form-field-label {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 18px 12px 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
    cursor: text;
}

.form-field-control {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.form-inline {
    display: unset;
}

.form-field-control::after {
    border-bottom: 2px solid #6d7fcc;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: all 0.4s;
    width: 1%;
}

.form-field-input,
.form-field-textarea {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #4e5369;
    color: #4e5369;
    display: block;
    font-size: 1.2rem;
    margin-top: 24px;
    outline: 0;
    padding: 0 12px 10px 12px;
    width: 100%;
}

.form-field-textarea {
    height: 150px;
}

.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    background-color: #4e5369 !important;
    color: #fff;
    width: 25%;
    margin-bottom:0.5em;
}

.model-submit {
    background-color: #6d7fcc !important;
    margin-top: 2em;
}

/* Ace Editor styles */
.input-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 80%;
}

.input-wrapper > iframe {
    width: 100%;
    border: none;
}

.hiddenLeft {
    margin-left: -320px;
}

.category-list-item {
    position: absolute;
    bottom: 7vh;
}

.fas {
    text-shadow: 2px 0 2px gray;
    transition: text-shadow 700ms;
}

.fas:hover {
    text-shadow: 2px 0 2px black;
}

td:first-child, th:first-child {
    padding-left: 2em;
}

footer {
    flex-shrink: 0;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    #menuCollapse {
        display: block !important;
    }

    .flex {
        display: flex;
    }
}