<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div class="col-12" id="successBox">
    <div class="alert alert-success col-lg-12" role="alert" data-th-if="${success} == true" data-th-text="'New language added'"></div>
    <div class="alert alert-danger" role="alert" data-th-if="${success} == false" data-th-text="'Error adding new language'"></div>

    <h1>Create New Language</h1>
    <form action="#" method="post" data-th-action="@{/language/create}" data-th-object="${language}">
        <p>Name: <input type="text" data-th-field="*{name}"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>