<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div class="col-12" id="successBox">
    <h1>Create New Language</h1>
    <form action="#" method="post" data-th-action="@{/language/create}" data-th-object="${language}">
        Name: <input type="text" class="mr-2" data-th-field="*{name}">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-plus"></i>
        </button>
    </form>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>