<!--header content-->
<div data-th-replace="~{fragments/header :: header}"></div>
<div data-th-replace="~{fragments/sidebar :: sidebar}"></div>

<!--body content-->
<div class="w-100">
    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" data-th-each="language : ${languages}">-->
    <!--<a data-th-href="'/language/edit/' + ${language.getLangId()}" title="Edit" class="p-2">-->
    <!--<i class="fas fa-edit text-warning"></i>-->
    <!--</a>-->
    <!--<a data-th-href="'/language/delete/' + ${language.getLangId()}" title="Delete">-->
    <!--<i class="fas fa-trash-alt text-danger"></i>-->
    <!--</a>-->
    <!--<span data-th-text="${language.name}"></span>-->
    <!--</li>-->
    <!--</ul>-->
    <table class="table w-100 table-hover">
        <thead class="thead-light">
        <tr>
            <th class="w-75">Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="language : ${languages}">
            <td data-th-text="${language.name}"></td>
            <td class="text-right pr-5">
                <a title="Edit" class="px-2" data-th-href="'/language/edit/' + ${language.getLangId()}"><i
                        class="fas fa-edit text-warning"></i></a>
                <a title="Delete" class="px-2" data-th-href="'/language/delete/' + ${language.getLangId()}"><i
                        class="fas fa-trash-alt text-danger"></i></a>
            </td>
        </tr>

        <tr id="hoverNone">
            <td colspan="2" class="pr-5">
                <div class="list-button">
                    <button type="button" class="btn btn-primary create-button">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <form class="create-form" action="#" method="post" data-th-action="@{/language/create}" data-th-object="${language}">
                    <input id="buttonLength" type="text" class="mr-2" data-th-field="*{name}" required>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer content-->
<div data-th-replace="~{fragments/footer :: footer}"></div>

